body{
    font-family: arial, sans-serif;
    background: #ccc;
    margin: 0;
}

.top{
    background-image: url(../imagens/01.png);
    background-position: right center;
    height: 500px;
    background-size: cover;
    border-top: 1px solid transparent; 

}

.titulo{
    text-align: center;
    color: white;
    margin-top: 280px;
}

.titulo h1{
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 2px #333;
}

.top nav ul{
    text-align: right;
    margin: 20px 50px 0 0;
}

nav { 
    width: 30%;
    background: #ffffff;
    margin-left: 60%;
}
.indice{
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 2px;
}

.top nav li{   
    list-style: none;
}

.titulo{
    text-align: center;
    color: white;
    margin-top: 280px;
}

.titulo h1{
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 2px #333;
}


main{
    width: 80%;
    height: 500px;
    margin: auto;
    background: white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.menu{
    display: inline-block;
    position: relative;
}
.menu img {
    position: relative;
    width: 80%;
 }

 .menu p{
    position: absolute;
    color: black;
    background-color: #9f9d9d88;
    bottom: 0px;
    width: 80%;
    
}